#green{
    color:green;
     font-weight: 400;
    font-size: 12px;
    font-family: 'Roboto'
}
.online{
    color: white;
    background-color: #004C71;
    border: 2px #004C71 solid;
    border-radius: 10px;
    font-size: 12px;
}