.items{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}
.copy{
    background-color: rgb(160, 202, 219);
}
.right p{
    color: #004C71;
    font-size: 12px;
}
.right p:hover{
    color: gray;
    font-size: 12px;
}
