#more{
    color:#004C71;
    font-size: 20px;
    font-weight: 500;
    background-color: #7f99a5;
    border: 2px #004C71 solid;
    border-radius: 5px;
    width: 22%;
}
#more:hover{
    color:white;
    font-size: 20px;
    font-weight: 500;
    background-color: #001a27;
    border: 2px #001a27 solid;
    border-radius: 5px;
    width: 22%;
}
#iffat{
    font-size: 15px;
    width: 75%;
    word-spacing: 1px;
}
#circle{
    font-size: 7px;
    color: #001a27;
}
#complex{
    font-size: 15px;
    width: 75%;
    color:#004C71;
    word-spacing: 1px;
}
#complex:hover{
    font-size: 15px;
    width: 75%;
    color:gray;
    word-spacing: 1px;
}
#num{
   font-size: 15px;
    width: 75%;
    word-spacing: 1px;
    color: #004C71;
}
#num:hover{
   font-size: 15px;
    width: 75%;
    word-spacing: 1px;
    color: gray;
}
.namme{
    color:black;
    font-size: 17px;
    font-weight: 600;
font-family: 'Poppins';
    
}
#question{
    background-color: rgb(160, 202, 219);
    border: 2px rgb(160, 202, 219) solid;
    border-radius: 5px;
    color: black;
}
#question:hover{
    background-color:#7f99a5;
    border: 2px #7f99a5 solid;
    border-radius: 5px;
    color: black;
}
#expens{
    color:black;
}
.dropdown-menu{
    background-color: white;
}





